{% extends "layouts/base.twig" %}

{% block title %}Projects
{% endblock %}
{% block styles %}
	<link rel="stylesheet" href="./assets/css/features.css">
{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-6">
			{% include "components/CardImage.twig" with{
            image: './assets/images/jonny-gios-wFn23XIfsv8-unsplash.jpg',
            card_content: 'Hello World',
            title: 'Pic',
            link: 'secure/',
            button_text: 'Click Me'
        }%}
		</div>
		<div class="col-md-6">
			{% include "components/Carousel.twig" with{
                images: [
                            {'src': './assets/images/jonny-gios-wFn23XIfsv8-unsplash.jpg',
                             'alt': 'Slide 1'},
                            {'src': './assets/images/daniel-sessler-f2hibyGaKf4-unsplash.jpg',
                             'alt': 'Slide 2'},
                ],
                id : 'carousel1'
            }%}
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-md-6">
			{% include "components/Table.twig" with{
            headers: ['Name', 'Email', 'Role'],
            rows: [
                ['John Doe', 'john@example.com', 'Admin'],
                ['Jane Smith', 'jane@example.com', 'User']
            ]

        }%}
		</div>
		<div class="col-md-6">
			{% set var =   [{   name: 'username',
			                    type: 'text',
			                    label: 'Username:',
                                placeholder: 'Username'
                        	},
                            {   name: 'email',
			                    type: 'email',
			                    label: 'Email:',
                                placeholder: 'Email'
                        	}] %}
			{% include "components/Form.twig" with{
                action: '/login',
                inputItems: var,
                method: 'POST',
                buttonText: 'Click Me',
                form_class: 'bg-light'
            }%}
		</div>
	</div>
	<div class="row mt-3">
			{% for project in projects %}
				{% include "components/CustomCard.twig" with{
                    customcardImage : "./assets/images/jonny-gios-wFn23XIfsv8-unsplash.jpg",
                    customcardTitle: project.project_name,
                    customcardDescription: project.project_description,
                    customcardDate: project.created_at|date("F j, Y")
                }%}
				{# {{project.project_name}} #}
			{% endfor %}
	</div>
	<div class="row mt-3">
		<div class="col-md-6">
			{% set accordion = [
                {
                    headerId: 'header1',
                    accordionHeading: 'Welcome',
                    accordionItemId: 'collapseOne',
                    accordionText: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi odit error obcaecati dignissimos labore laborum debitis provident accusamus illo, ratione, tempora perferendis corrupti totam, quis et a saepe nihil ut ipsa expedita. Itaque odio nesciunt deleniti a nostrum, sapiente magnam, fugit eveniet quis, perferendis dolores labore illum. Animi, excepturi illo."
                },
                   {
                    headerId: 'header2',
                    accordionHeading: 'Byeeeee',
                    accordionItemId: 'collapseTwo',
                    accordionText: "Quis et a saepe nihil ut ipsa expedita. Itaque odio nesciunt deleniti a nostrum, sapiente magnam, fugit eveniet quis, perferendis dolores labore illum. Animi, excepturi illo."
                }
            ] %}
			{% include "components/Accordion.twig" with {
                accordions: accordion
            }%}
		</div>
		<div class="col-md-6">
			{% set var =   [{   name: 'username',
			                    type: 'text',
			                    label: 'Username:',
                                placeholder: 'Username'
                        	},
                            {   name: 'email',
			                    type: 'email',
			                    label: 'Email:',
                                placeholder: 'Email'
                        	}] %}
			{% include "components/Form.twig" with{
                action: '/login',
                inputItems: var,
                method: 'POST',
                buttonText: 'Click Me',
                form_class: 'bg-light'
            }%}
		</div>

	</div>
{% endblock %}
{% block scripts %}{% endblock %}
