<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			{% block title %}{% endblock %}
		</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Rakinzi L Silver">
		<style>
			body {
				font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
			}
		</style>
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
		<script src="/assets/js/app.js" defer></script>
		<script src="/assets/js/jquery.min.js" defer></script>
		<script src="/assets/js/bootstrap.bundle.js" defer></script>

	</head>
	<body>
		<div class="container-fluid"> {% block content %}{% endblock %}
			</div>

		</body>

	</html>
