
{% extends "projects/sqlinjection.twig" %}
{% block content %}
	<div class="row mt-3">
		<div class="col-md-12">
			{% include "components/Table.twig" with{
            headers: ['Activity ID','SQLi ID','SQLi Statements'],
            rows: homeDetails.payloads[0]
        }%}
		</div>
	</div>
{% endblock %}
