<button {% for attr, value in buttonAttributes %} {{attr}}='{{value}}' {% endfor %}>
	{% if buttonText %}
		{% if buttonText|striptags != buttonText %}
			{{buttonText|raw}}
		{% else %}
			{{buttonText}}
		{% endif %}
	{% endif %}
</button>
