<div class="card" {% block cardStyle %}{% endblock %}>
	<div class="card-header text-center" style="background-color: white;">
		<h1 class="h1">{% block card_title %}{% endblock %}</h1>
	</div>
	<div class="card-body">
        {% block card_body %}{% endblock %}
	</div>
</div>
