{% extends "layouts/auth.twig" %}

{% block title %}Login
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-8" style="background-image: url('assets/images/jonny-gios-wFn23XIfsv8-unsplash.jpg'); background-size: cover; height: 100vh;"></div>
		<div class="col-4 my-auto">
			<div class="card">
				{% embed "components/Card.twig" %}
					{% block card_title %}Login
					{% endblock %}
					{% block card_body %}
						{% include "forms/LoginForm.twig" %}
					{% endblock %}
				{% endembed %}

			</div>
		</div>
	</div>
{% endblock %}
