{% extends "layouts/auth.twig" %}

{% block title %}Login
{% endblock %}

{% block content %}
	<div class="row" style="height: 100vh;">
		<div class="col-md-8" style="background-image: url('assets/images/jonny-gios-wFn23XIfsv8-unsplash.jpg'); background-size: cover;"></div>
		<div class="col-md-4 my-auto">
			{% embed "components/Card.twig" %}
				{% block card_title %}Login
				{% endblock %}
				{% block card_body %}
					{% include "forms/LoginForm.twig" %}
				{% endblock %}
			{% endembed %}
		</div>
	</div>
{% endblock %}
