{% extends "layouts/auth.twig" %}
{% block title %}Register
{% endblock %}

{% block content %}
	<div class="row" style="height: 100vh;">
		<div class="col-md-8" style="background: url('assets/images/daniel-sessler-f2hibyGaKf4-unsplash.jpg'); background-size: cover;background-repeat: no-repeat;"></div>
		<div class="col-md-4 my-auto">
			{% embed "components/Card.twig" %}
				{% block card_title %}Welcome to the AI Center
				{% endblock %}
				{% block card_body %}
					{% include "forms/RegisterForm.twig" %}
				{% endblock %}
			{% endembed %}
		</div>
	</div>

{% endblock %}
